.publishTweet {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 1em;
  padding-bottom: 0;
  .title {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profilePic {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
  }
  .form {
    width: 440px;
    margin-bottom: 10px;
    .list {
      display: flex;
      justify-content: space-around;
    }
    .textarea {
      height: 100px;
      width: 400px;
      font-size: 20px;
      background: var(--secondary-color);
      color: var(--color-light);
      border: none;
      resize: none;
      padding: 0 10px;
      margin-left: 12px;
      outline: none;
    }
    .Tweetear {
      color: #ffffff;
      background: var(--primary-color);
      opacity: 0.5;
      border-radius: 20px;
      padding: 9.4px 19.8px;
      font-size: 15px;
      border: none;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
